.video-title {
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    width: 300px;
    line-height: 24px;
    margin-bottom: 0;    
}

.video-view-count {
    font-family: Arial;
    font-size: 12px;
    color:grey;
    margin-top: 0;    
}

.video-author {
    font-family: Arial;
    font-size: 10px;
    color:grey;
}

.video-description {
    font-family: Arial;
    font-size: 14px;
    color:grey;
}

.apple-text {
    font-family: Arial;
    font-size: 14px;
    color:white;
    text-align: center;
    background-color: rgb(227, 65, 64);
    padding-top: 18px;
    padding-bottom: 18px;
}

.shop-link {
    cursor: pointer;
    text-decoration: underline;
    margin-left: 12px;

}

.Title {
    font-family: Verdana;
    font-size: 20px;
    font-weight: bold;
    width: 300px;
    line-height: 24px;
    margin-bottom: 0; 
}
.Sub-title {
    font-family: Verdana;
    font-size: 14px;
    color: gray;
    margin-top: 0;
}
.Description {
    font-family: Verdana;
    font-size: 16px;
    width: 300px;
}
.Get-started {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}
.Mac-Type {
    font-family: Verdana;
    color: orangered;
    font-size: 12px;
    width: 500px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
.Mac-Title {
    font-family: Verdana;
    font-size: 16px;
    width: 500px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 5;
}
.Mac-Description {
    font-family: Verdana;
    font-size: 30px;
    width: 500px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 5;
}
.Mac-Price {
    font-family: Verdana;
    font-size: 16px;
    color: gray;
    width: 500px;
    text-align: center;
    margin-top: 0;
}
.Mac-Buy {
    color: white;
    background-color: #397AE2;
    border: none;
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}